<h1>  <%=@song.name%></h1>
<br>
Artist: <a href="<%="../artists/#{@song.artist.name.split.last.downcase}"%>"><%=@song.artist.name%></a>
<br><br>
Genre: <a href="<%="../genres/#{@song.genre.name.downcase}"%>"><%=@song.genre.name%></a>
<br>
<a href="<%="/"%>">Home</a>
<br>
<br>

<iframe src="<%="http://www.youtube.com/embed/#{@id}"%>" width=640 height=480 frameborder=0></iframe>
